.greetings {
    padding: 40px 0 36px;

	&_title {
		font-weight: 800;
		font-size: 36px;
	}

	&_btn_wrapper {
		display: flex;
		justify-content: end;
	}

	&_btn {
		border-radius: 15px;
		background: #fafafa;
		padding: 16px 22px;
		font-weight: 400;
		font-size: 16px;
		color: #202020;
	}
}
